body {
    padding: 0;
    margin: 0;
    background: rgb(15, 109, 205);
    background: linear-gradient(180deg, rgba(15, 109, 205, 1) 0%, rgba(216, 22, 48, 1) 62.5%);
}

#login-box {
    margin-top: auto;
    margin-bottom: auto;
    background-color: light;
}

label {
    color: white;
}